name: concretize-template

on:
  workflow_call:
    inputs:
      target:
        required: true
        type: string
      os:
        required: true
        type: string

jobs:
  concretize:
    runs-on: ubuntu-latest
    container: ghcr.io/key4hep/key4hep-externals-${{inputs.os}}:main
    strategy:
      fail-fast: false
    steps:
      - name: Checkout Mucoll Spack
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: mucoll-spack
          ref:  ${{ github.sha }}
      - name: Apply Patches
        shell: spack-bash {0}
        run: |
          whereami=$(pwd)
          cd /opt/spack 
          . ${whereami}/mucoll-spack/.cherry-pick
          cd -
      - name: Load env and concretize
        shell: spack-bash {0}
        run: |
          . /opt/setup_spack.sh
          spack --version
          spack repo add mucoll-spack
          spack env activate mucoll-spack/environments/mucoll-${{ inputs.target }}
          spack concretize --reuse
          spack spec -Nt > ${GITHUB_WORKSPACE}/spec-${{ inputs.target }}.log
      - name: Store artifacts
        uses: actions/upload-artifact@v4
        with:
          name: spec-list
          path: ${GITHUB_WORKSPACE}/spec-${{ inputs.target }}.log